annotated-doc==0.0.4
annotated-types==0.7.0
autopep8==2.3.2
beautifulsoup4==4.14.3
blis==1.3.3
cachetools==7.0.5
catalogue==2.0.10
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.3.1
cloudpathlib==0.23.0
cltk==2.5.1
colorama==0.4.6
confection==0.1.5
contourpy==1.3.3
cuda-bindings==13.2.0
cuda-pathfinder==1.5.3
cuda-toolkit==13.0.2
cycler==0.12.1
cymem==2.0.13
cytoolz==1.1.0
deplacy==2.1.1
emoji==2.15.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
filelock==3.28.0
floret @ git+https://github.com/dwvisser/floret.git@f95b72effea5e2131ec54de5bd04672a805c7473
fonttools==4.62.1
fsspec==2026.3.0
idna==3.11
jellyfish==1.2.1
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.5.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mdurl==0.1.2
mecab-python3==1.0.12
mpmath==1.3.0
murmurhash==1.0.15
networkx==3.6.1
nodeenv==1.10.0
numpy==2.4.3
nvidia-cublas==13.1.0.3
nvidia-cuda-cupti==13.0.85
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-runtime==13.0.96
nvidia-cudnn-cu13==9.19.0.56
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-cusparse==12.6.3.3
nvidia-cusparselt-cu13==0.8.0
nvidia-nccl-cu13==2.28.9
nvidia-nvjitlink==13.0.88
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
packaging==26.0
pillow==12.1.1
platformdirs==4.9.6
preshed==3.0.12
protobuf==7.34.1
pycodestyle==2.14.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyparsing==3.3.2
pyphen==0.17.2
pyright==1.1.408
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
regex==2026.4.4
requests==2.32.5
rich==14.3.3
scikit-learn==1.8.0
scipy==1.17.1
segtok==1.5.11
selectolax==0.3.34
setuptools==81.0.0
shellingham==1.5.4
six==1.17.0
smart_open==7.5.1
soupsieve==2.8.3
spacy==3.8.11
spacy-html-tokenizer==0.1.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy_pkuseg==1.0.1
srsly==2.5.2
stanza==1.11.1
sympy==1.14.0
tabulate==0.10.0
termcolor==3.3.0
textacy==0.13.0
thinc==8.3.11
threadpoolctl==3.6.0
toolz==1.1.0
torch==2.11.0
tqdm==4.67.3
triton==3.6.0
typer==0.24.1
typer-slim==0.24.0
typing-inspection==0.4.2
typing_extensions==4.15.0
udapi==0.5.2
udkanbun==3.4.7
udtools==0.2.7
ufal.udpipe==1.4.0.1
urllib3==2.6.3
wasabi==1.1.3
weasel==0.4.3
wheel==0.46.3
wrapt==2.1.2
yake==0.7.3
zh_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/zh_core_web_sm-3.8.0/zh_core_web_sm-3.8.0-py3-none-any.whl#sha256=7de3bd267176b9b2a8defb6997c1cd296da16c57b5e712f72ea44a51755421c8
